<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    pelis mega HD es un Sitio Web que te permite Descargar peliculas piratas de la mejor calidad, desde filmadas en el cine hasta el mismisimo 16K
  </p>
  {{#link-to 'contact' class="button"}}
    descarga Ahora!
  {{/link-to}}
</div>

{{outlet}}
